.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}



.button-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive;
  background-color: #ff4c68;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff1f4b;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}





